@import "defaults";

.header {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(206, 167, 167);

  &__title {
    min-width: 20rem;
    font-size: 4rem;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    padding: 0 2rem 1rem;
    box-shadow: 0 .5rem 2rem rgb(172, 140, 140);
    border-radius: .5rem;
    text-align: center;

    &::first-letter {
      font-size: 6rem;
    }
  }
}

.main {
  min-height: 80vh;
  background: rgb(137, 137, 197);

  &__wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__results {
      margin: 2rem 0 2rem;
      min-height: 5rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      
      &__message {
        font-size: 2rem;
        font-style: italic;
      }
    }

    &__search {
      margin-top: 1rem;
      position: relative;
      display: flex;
      align-items: center;

      &__reset.show {
        display: block;
      }

      &__reset {
        display: none;
        color: #fff;
        text-shadow: 1px 1px 3px #000;
        font-weight: bold;
        position: absolute;
        right: 1%;
        font-size: 2.5rem;
        cursor: pointer;
        transition: all .3s ease;

        &:hover {
          color: #d86c82;
        }
      }

      &__input {
        display: block;
        width: 100%;
        padding: .5rem;
        border: 0;
        background: transparent;
        text-align: center;
        border-radius: 1rem;
        outline: none;
        box-shadow: 0 .5rem 1rem rgb(134, 69, 134);
        color: #fff;
        text-shadow: 1px 1px 3px #000;
        font-size: 2rem;

        &:focus {
          background: rgb(172, 89, 172);
        }
      }
    }

    &__cards {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));

      &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 35rem;
        box-shadow: .5rem .5rem 1rem rgb(255, 203, 212);

        &__name {
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
          flex: 1;
          font-size: 2.5rem;
          color: #000;
        }
        
        &__title {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex: 1;
          font-size: 2rem;
          text-align: center;
          font-weight: bold;
          color: #fff;
          text-shadow: 1px 1px 3px #000;
        }

        &__img-container {
          flex: 1;
          text-align: center;

          &__img {
            object-fit: cover;
            max-width: 100%;
          }
        }
      }
    }
  }
}